* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.green {
    background-color: lightgreen;
}

.square.yellow {
    background-color: yellow;
}
